/*los tres tipos de selectores basicos que tenemos en css
etiqueta 
identificadores
clases
*/
/*alt shift flecha cpia y pega*/

body {
    background-color: aliceblue;
    color: hotpink;
    font-family: 'Onest', sans-serif;
    text-align: justify;
    
    /*estilodeetiqueta
    ejemplo, body, p, a(para links)
    se utilizan para imagenes tambien*/
}
a{
    color: hotpink;
}


#titulo
{
    background-color: aliceblue;
    text-align: center;
    color: aquamarine;
/*estiloporidentificador
es para elementos particulares
*/
}

.text-center
{
    text-align: center;
    /*estilo por clases*/
}

.uwu
{
    background-color: aqua;
    color: aliceblue;
}

img {
    max-width: 100%;
}
.container
{
    max-width: 55%;
    margin-right: 50%;
    padding-left: 0%;
}
.container2
{
    
    max-width: 40%;
    margin-left: auto;
    float: right; 
    margin: 30px; 
    margin-top: 5%;
}
.size {
    max-width: 50%;
}
.fs-40
{
    font-size: x-large;
}
.color2
{
    color: lightpink;
}
.cards
{
    float: left;
}
.mainpad
{
    padding-left: 5%;
}
table, th, td {
    border: 1px solid pink;
 
  }
  th, td {
    padding: 15px;
  }
/*padding  borders
*/

.container3
{
    float: left; 
    margin: 30px; 
}



